NOTIFIER_SOUND=false
DEMO_MAX_MESSAGES=3
DEMO_INTERVAL_MS=8000
NOTIFIER_ICON = E:\Web Development\BrianElionDev\NudgeBot\nudgebot\public\bell.png

DISCORD_BOT_TOKEN=""
DISCORD_WEBHOOK_URL=""

SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_URL="https://your-supabase-url.supabase.co"